# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

.gitignore
.idea/inspectionProfiles/
project/target/config-classes/$65045edf33de915b26d2$.class
project/target/config-classes/$65045edf33de915b26d2.class
project/target/config-classes/$b60554696da419db3473$.class
project/target/config-classes/$b60554696da419db3473.class
project/target/streams/compile/compileIncSetup/
src/test/
target/scala-2.12/classes/
/src/main/resources
build.sbt
